.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.cont img{
    border-radius: 20px;
}

@media screen and (max-width:690px){
    .cont{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95vh;
    }

    .cont img{
        border-radius: 20px;
        width: 80vw;
    }
}